# Archivos compilados
*.pyc
__pycache__/

# Base de datos y claves
db.sqlite3
.env
secret.json
secret

# Archivos de medios
/media/
*.log

# Archivos estáticos generados 

# Archivos de sistema y editores
.DS_Store
*.vscode/
